.configure-rules-container {
    width: 100%;

    .topbar-container {
        display: flex;
        align-items: center;
        height: 84px;
        justify-content: space-between;
        padding: 0px 25px;

        .action-left {
            display: flex;
            gap: 20px;

            .action-close {
                padding: 5px;
                border-radius: 5px;

                span {
                    svg {
                        width: 25px;
                    }
                }
            }

            .action-close:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.03);
            }

            .action-previous {
                font-size: 18px;
                color: #037aff;
            }

            .action-previous:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .action-right {
            display: flex;
            gap: 20px;

            .action-remove {
                background-color: #fff;
                color: #da2346;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                font-size: 18px;
                font-weight: 500;
                padding: 10px 0px;
                height: 50px;
                width: 120px;
                min-width: 100px;
            }

            .action-remove:hover {
                cursor: pointer;
                border: 1px solid #da2346;
            }

            .action-remove::selection {
                border: 1px solid #da2346;
                background-color: #da2346;
                color: #fff;
            }

            .action-next {
                background-color: #101928;
                color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                font-size: 18px;
                font-weight: 500;
                padding: 10px 0px;
                height: 50px;
                width: 160px;
                min-width: 120px;
            }

            .action-next:hover {
                cursor: pointer;
                border: 1px solid #52575e;
                background-color: #52575e;
            }
        }
    }

    .progress-container {
        height: 2px;
        background-color: #d5d7da;
        width: 100%;

        .progress-percent {
            height: 100%;
            width: 33%;
            background-color: #037aff;
        }
    }

    .detail-container {
        max-width: 870px;
        padding: 10px 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        .small-title {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        .container-title {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 28px;
                font-weight: 700;
                text-align: center;
            }

            .title-content {
                font-size: 16px;
                text-align: center;

                a {
                    text-decoration: none;
                }

                a:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .content-container {
            display: flex;
            flex-direction: column;
            margin: 30px 0px 0px;
            max-width: 530px;
            width: 100%;
            gap: 30px;
            
            .content-item {
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                padding: 24px;
                width: 100%;

                .item-title {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 20px;
                        font-weight: 700;
                    }

                    .title-content {
                        font-size: 16px;
                    }
                }

                .group {
                    display: flex;
                    flex-direction: column;
                    margin: 15px 0px;

                    .group-title {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    select {
                        font-size: 16px;
                        height: 48px;
                        margin: 5px 0px;
                        box-shadow: none;
                    }

                    select:hover {
                        cursor: pointer;
                        border-color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
}