.clients-layout {
    display: flex;
    width: calc(100vw - 75px);

    .inner-siderbar {
        position: relative;
        padding: 15px 10px 10px 10px;
        border-right: 1px solid rgb(184, 184, 184);
        max-width: 219px;
        min-width: 209px;

        .body:hover {
            background-color: rgba(141, 204, 255, 0.2);
            border-radius: 10px;
        }

        .item.active {
            background-color: rgba(141, 204, 255, 0.2);
            border-radius: 10px;
        }

        .item.header {
            padding: 16px;
        }

        .item {
            a {
                font-size: 16px;
                text-decoration: none;
                color: black;
                margin: 16px;
                line-height: 45px;
            }
        }
    }

    .inner-container {
        min-width: calc(100% - 210px);
        max-width: calc(100% - 210px);
        overflow: auto;
    }
}

.new-employee-container {
    width: 100%;
    position: relative;

    .add-address-modal {
        // max-height: calc(100vh - 60px);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        max-width: 640px;
        min-width: 640px;
        background-color: white;
        z-index: 999;
        left: 50%;
        transform: translate(-50%);
        position: fixed;
        top: 150px;

        .modal-header {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .modal-title {
                font-size: 24px;
                font-weight: 700;
            }

            .modal-close {
                padding: 5px;

                svg {
                    width: 30px;
                }
            }

            .modal-close:hover {
                background-color: rgba(0, 0, 0, 0.05);
                cursor: pointer;
                border-radius: 5px;
            }
        }

        .modal-body {
            overflow-y: auto;
            max-height: 750px;

            .type-group {
                display: flex;
                padding: 20px 30px;

                .select-type {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    .type-item {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: 10px;
                        justify-content: center;
                        align-items: center;

                        width: 100px;
                        height: 100px;

                        svg {
                            width: 25px;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 0;
                            margin-top: 10px;
                        }
                    }

                    .type-item:hover {
                        border: 1px solid rgba(0, 0, 0, 0.4);
                        cursor: pointer;
                    }

                    .type-item.active {
                        border: 3px solid #037aff;
                        background-color: #deeeff;
                    }
                }
            }

            .group {
                max-width: calc(100% - 60px);
                min-width: calc(100% - 60px);
                width: 100%;
                margin: 15px 30px;

                .group-title {
                    font-size: 16px;
                    font-weight: 500;
                }

                .input-container {
                    margin: 5px 0px;
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    display: flex;

                    input {
                        border: none;
                        outline: none;
                        font-size: 16px;
                        width: 100%;
                    }

                    .address-container {
                        width: 28px;
                        display: flex;
                        justify-content: flex-start;

                        svg {
                            width: 15px;
                        }
                    }
                }

                .input-container:hover {
                    border: 1px solid rgba(0, 0, 0, 0.4);
                }

                .address-details {
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    display: flex;
                    min-height: 430px;
                    height: 100%;

                    .items-list {
                        width: calc(100% - 100px);
                        padding: 20px;

                        .item {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;

                            .item-title {
                                font-size: 16px;
                                font-weight: 500;
                            }

                            .item-add {
                                font-size: 16px;
                                font-weight: 500;
                                color: #037aff;
                            }

                            .item-add:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }

                            .item-add.disabled {
                                color: black;
                            }
                        }
                    }

                    .actions-list {
                        width: 100px;
                        padding: 5px 20px;
                        display: flex;
                        flex-direction: column;

                        span#action-edit {
                            font-size: 16px;
                            font-weight: 500;
                            color: #037aff;
                            text-align: right;
                        }

                        span#action-edit:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .list-group {
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    padding: 20px;
                    margin: 0px 0px 20px;

                    .list-item {
                        font-size: 18px;
                        font-weight: 500;
                        padding: 5px 0px;
                        text-decoration: none;
                        color: #0b0b0c;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        div.check-container {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 10px 0px 10px 0px;

                            div#check-logo {
                                background-color: #037aff;
                                width: 25px;
                                height: 25px;
                                border-radius: 5px;
                                display: flex;
                                justify-content: center;

                                svg {
                                    width: 15px;
                                }
                            }

                            div#check-logo.unchecked {
                                background-color: white;
                            }

                            .item-detail {
                                display: flex;
                                flex-direction: column;

                                .item-name {
                                    font-size: 17px;
                                    font-weight: 500;
                                }

                                .item-content {
                                    font-size: 16px;
                                }
                            }
                        }

                        .item-price {
                            span {
                                font-size: 17px;
                                font-weight: 500;
                            }
                        }
                    }

                    .list-item:hover {
                        cursor: pointer;
                    }

                    .item-spliter {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                }

            }


        }

        .modal-footer {
            .actions-container {
                width: 100%;
                justify-content: flex-end;
                display: flex;
                padding: 20px;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
                gap: 20px;

                .modal-button {
                    font-size: 17px;
                    font-weight: 500;
                    width: 120px;
                    height: 48px;
                    border-radius: 5px;
                }

                .modal-close {
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    background-color: white;
                }

                .modal-close:hover {
                    cursor: pointer;
                    border: 1.5px solid rgba(0, 0, 0, 0.4);
                }

                .modal-continue {
                    background-color: #101928;
                    border: 1px solid #101928;
                    color: white;
                }

                .modal-continue:hover {
                    cursor: pointer;
                    border: 1.5px solid #35383d;
                    background-color: #35383d;
                }
            }
        }
    }

    .topbar {
        width: 100%;
        display: flex;
        align-items: center;
        height: 84px;
        justify-content: space-between;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        z-index: 99;
        top: 0;

        a#edit-close {
            padding: 20px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 150px;

            svg {
                border-radius: 5px;
                width: 40px;
                padding: 5px;
            }

            svg:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        span#edit-title {
            font-size: 24px;
            font-weight: 700;
        }

        button#edit-save {
            font-size: 17px;
            font-weight: 500;
            width: 150px;
            height: 50px;
            background-color: #101928;
            border: 1px solid #101928;
            color: white;
            border-radius: 5px;
            margin: 0px 20px;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        padding: 0 24px 24px;
        margin-top: 84px;

        span {
            font-size: 28px;
            font-weight: 700;
        }
    }

    .main-container {
        max-width: 2000px;
        display: flex;
        margin: auto;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        .border-danger {
            border: 1.5px solid #da2346;
        }

        .group-container {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            max-width: 1000px;
            margin-bottom: 20px;

            .group-title {
                padding: 20px 25px;
                border-bottom: 1px solid #cccccc;

                span#title {
                    font-size: 24px;
                    font-weight: 700;
                }

                #sub-title {
                    font-size: 16px;
                }
            }

            .group {
                width: 100%;
                gap: 20px;

                span#group-title {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                div.check-container {
                    display: flex;
                    align-items: center;
                    padding: 0px 0px 25px;

                    div#check-logo {
                        background-color: #037aff;
                        width: 25px;
                        height: 25px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;

                        svg {
                            width: 15px;
                        }
                    }

                    div#check-logo.unchecked {
                        background-color: white;
                    }

                    span {
                        margin-left: 15px;
                        font-size: 16px;
                    }
                }

                div.input-container {
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    display: flex;
                    position: relative;
                    margin: 5px 0px;
                    align-items: center;

                    input {
                        width: calc(100%);
                        height: 30px;
                        font-size: 16px;
                        border: none;
                        margin: 10px;
                        outline: none;
                    }

                    select {
                        width: calc(100%);
                        height: 30px;
                        font-size: 16px;
                        border: none;
                        margin: 10px;
                        outline: none;
                    }

                    textarea {
                        width: 100%;
                        margin: 10px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                    }

                    .sel-number-region {
                        height: 52px;
                        width: 130px;
                        display: flex;
                        align-items: center;
                        border-right: 1px solid #cccccc;

                        span#region-value {
                            font-size: 16px;
                            width: 50px;
                            padding: 10px;
                            height: 30px;
                            text-align: left;
                            display: flex;
                            align-items: center;
                        }

                        span#select-icon {
                            padding: 10px;

                            svg {
                                width: 20px;
                            }
                        }
                    }

                    .sel-number-region:hover {
                        border-right: 1px solid #3995ff;
                        cursor: pointer;
                    }

                    select#sel-number-region {
                        position: absolute;
                        font-size: 16px;
                        top: 40px;
                        height: 30px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }
                }

                div.input-container:hover {
                    border: 1.5px solid #696969;
                }

                span.group-hint {
                    font-size: 14px;
                    color: #da2346;
                }

                .colour-group {
                    margin-top: 10px;
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .colour-container {
                        border: 2px solid white;
                        cursor: pointer;
                        border-radius: 50%;

                        .select-colour {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 2px solid white;
                        }

                        .select-blue {
                            background: linear-gradient(-225deg, rgb(11, 109, 217) 0%, rgb(95, 171, 255) 100%);
                        }

                        .select-black {
                            background: linear-gradient(-225deg, rgb(16, 25, 40) 0%, rgb(32, 48, 71) 100%);
                        }

                        .select-green {
                            background: linear-gradient(-45deg, rgb(0, 166, 156) 0%, rgb(0, 157, 98) 100%);
                        }

                        .select-orange {
                            background: linear-gradient(-45deg, rgb(237, 176, 27) 0%, rgb(222, 100, 38) 100%);
                        }

                        .select-purple {
                            background: linear-gradient(-45deg, rgb(190, 74, 244) 0%, rgb(92, 55, 246) 100%);
                        }
                    }

                    .colour-container.active {
                        border: 2px solid #0b6dd9;
                    }

                    .colour-container:not(.active):hover {
                        border: 2px solid #71b5ff;
                    }
                }

            }

            .two-group {
                display: flex;
                gap: 20px;
            }

            .sub-container {
                padding: 10px 25px;
            }
        }

        .address {
            .add-address-action {
                display: flex;
                align-items: center;

                span.add-logo {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 20px;
                    }
                }

                span.add-content {
                    margin-left: 10px;
                    font-size: 16px;
                    color: #3995ff;
                }
            }

            .add-address-action:hover {
                cursor: pointer;

                span.add-content {
                    text-decoration: underline;
                }
            }
        }

        .notifications {
            input.form-check-input {
                height: 20px;
                width: 40px;
            }

            .form-check {
                margin: 20px 0px;
                display: flex;

                .check-content {
                    font-size: 16px;
                    margin-left: 20px;
                    width: 80%;
                }
            }

            .sub-container {
                border-bottom: 1px solid #cccccc;
            }
        }
    }
}